{% include "base.html" %}
{%  block start %}
<p class="text-center text-danger fs-3 fw-bold ">Add Receipes</p>
         
  <form class="w-50 p-3 container" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-primary" role="alert" class="container">
      {{ message}}
    </div>
    {% endfor %}
    {% endif %}
    <div class="mb-3">
      <label for="receipe_name" class="form-label">Receipe Name</label>
      <input type="text" name="receipe_name" class="form-control" id="receipe_name" aria-describedby="rounded-circle">
    </div>
    <div class="mb-3">
      <label for="receipe_description" class="form-label">Receipe Description</label>
      <!-- <input type="text" name="receipe_description" class="form-control" id="receipe_description"> -->
      <textarea class="form-control" name="receipe_description" placeholder="Enter Receipe Description" id="receipe_description">

      </textarea>
    </div>
    <div class="mb-3">
        <label for="formFile" class="form-label">Receipe Image</label>
        <input class="form-control" name="receipe_image" type="file" id="formFile">
      </div>
      <div class="d-grid mb-3">
        <button class="btn btn-primary" type="submit">Submit</button>
      </div>
  </form>
  <table class="table container text-center  table table-dark table-striped">
    <thead>
      <tr class="table-primary">
        <th scope="col">S.No</th>
        <th scope="col">Receipe Name</th>
        <th scope="col">Receipe Description</th>
        <th scope="col">Receipe Image</th>
        <th scope="col">Delete Receipe</th>
        <th>Edit Receipe</th>
      </tr>
      <tbody>
        {% for receipe in receipes %}
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td>{{receipe.receipe_name}}</td>
          <td>{{receipe.receipe_description}}</td>
          <td><img src="/media/{{receipe.receipe_image}}" style="height:150px"/></td>
          <td><a href="/receipe/delete/{{receipe.id}}">Delete</a></td>
          <td><a href="/receipe/edit/{{receipe.id}}">Edit</a></td>
        </tr>
        {% endfor %}
  </table>
{% endblock %}